.display-question {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;

    .question-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }
}